In [1]:
import os
import pandas as pd
import numpy as np
os.chdir(r"D:\ulan_rel_0621")

In [ ]:
os.listdir()

In [ ]:
term_df = pd.read_table("TERM.out", header=None,
                        names=["AACR2_flag", "display_date","display_name","display_order",
                               "end_date","historic_flag","other_flags","preferred",
                               "start_date","subject_id","term","term_id","vernacular"])

term_df

In [ ]:
term_df = term_df[["subject_id","term"]]

In [ ]:
term_df = term_df.dropna()

In [ ]:
term_df

In [ ]:
term_df["subject_id"] = list(map(int, term_df["subject_id"]))

In [ ]:
term_df

In [ ]:
subject_df = pd.read_table("SUBJECT.out", header=None, 
                           names=["legacy_id", "merged_stat", "parent_key", "record_type",
                                  "sort_order", "special_proj", "subject_id"])

subject_df

In [ ]:
subject_df[subject_df["record_type"]=="P"]["subject_id"]

In [ ]:
len(subject_df)

In [31]:
biography_df = pd.read_table("BIOGRAPHY.out", header=None,
                            names=["bio_id", "biography", "birth_date", "birth_place", "contributor",
                                  "death_date","death_place", "preferred", "sex", "subject_id"])
biography_df

c:\users\lr slxdr\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,3,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,bio_id,biography,birth_date,birth_place,contributor,death_date,death_place,preferred,sex,subject_id
0,4000002369,British painter 1830-1892,1830.0,NaN,GRLPA,1892.0,NaN,P,M,500000934.0
1,4000002370,"British artist, 1830/6-1892",1830.0,NaN,WCP,1892.0,NaN,N,M,500000934.0
2,4000002371,"British artist, 1830-1892",1830.0,4601330462.0,WCI,1892.0,4601330462.0,N,M,500000934.0
3,4000002372,"British artist, active ca. 1929 -1940",1880.0,NaN,WCP,1980.0,NaN,N,F,500000935.0
4,4000002374,"American artist, 1926-",1926.0,NaN,WCP,2026.0,NaN,N,M,500000936.0
...,...,...,...,...,...,...,...,...,...,...
651340,4000695414,"Austrian photorealist artist, 1930-2004",1930.0,4002660054,Belvedere,2004.0,4002300034,N,M,500086588.0
651341,4000695415,artist,1500.0,NaN,Belvedere,2080.0,NaN,N,M,500086588.0
651342,4000695426,"German artist, born 1871",1871.0,4180150093,Belvedere,2080.0,NaN,N,U,500407023.0
651343,4000695427,artist,1500.0,NaN,Belvedere,2080.0,NaN,N,U,500407023.0
651344,4000695446,"Austrian artist, 1818-1884",1818.0,4002030043,Belvedere,1884.0,NaN,N,U,500183685.0

In [ ]:
subject_df

In [ ]:
biography_df

In [32]:
biography_df = biography_df.dropna(axis=0, subset=["subject_id", "birth_date", "death_date"])[["birth_date", "death_date", "subject_id"]].applymap(int)
biography_df

        birth_date  death_date  subject_id
0             1830        1892   500000934
1             1830        1892   500000934
2             1830        1892   500000934
3             1880        1980   500000935
4             1926        2026   500000936
...            ...         ...         ...
651340        1930        2004   500086588
651341        1500        2080   500086588
651342        1871        2080   500407023
651343        1500        2080   500407023
651344        1818        1884   500183685

[546901 rows x 3 columns]

ValueError: cannot convert float NaN to integer

ValueError: cannot convert float NaN to integer

In [ ]:
subject_rels_df = pd.read_table("SUBJECT_RELS.out", header=None, 
                               names = ["display_date", "end_date", "historic_flag",
                                       "preferred", "rel_type", "start_date", 
                                        "subjectA_id", "subjectB_id", "hier_rel_type"])
subject_rels_df

In [ ]:
subject_rels_df = subject_rels_df[subject_rels_df["preferred"] == "P"]

In [ ]:
subject_rels_df

In [ ]:
subject_rels_df[subject_rels_df["hier_rel_type"]=="I"]

In [ ]:
term_df.to_csv("term.csv", index=False)

In [ ]:
subject_rels_df = subject_rels_df[["subjectA_id", "subjectB_id"]]

In [ ]:
subject_rels_df.to_csv("subject_rels.csv", index=False)

In [33]:
biography_df.to_csv("biography.csv", index=False)