In [14]:
import os
import pandas as pd

In [13]:
os.chdir(r"D:\exp_20211101")

In [19]:
biography_df = pd.read_csv("ULAN/biography.csv")

In [23]:
files = os.listdir("ULAN_id")

In [41]:
for file in files:
    subject_ids = pd.read_csv("ULAN_id/"+file)["subject_id"]
    result_df = pd.DataFrame(columns =["birth_date", "death_date"])
    
    for i, subject_id in enumerate(subject_ids):
        if subject_id > 0:
            result_df.loc[i] = [biography_df[biography_df["subject_id"] == subject_id]["birth_date"].values[0], biography_df[biography_df["subject_id"] == subject_id]["death_date"].values[0]]
        else:
            result_df.loc[i] = [0,0]

    result_df.to_csv(f"ULAN_time_search/{file[:8]}_time_search.csv", index=False)

In [31]:
biography_df

        birth_date  death_date  subject_id
0             1830        1892   500000934
1             1830        1892   500000934
2             1830        1892   500000934
3             1880        1980   500000935
4             1926        2026   500000936
...            ...         ...         ...
546896        1930        2004   500086588
546897        1500        2080   500086588
546898        1871        2080   500407023
546899        1500        2080   500407023
546900        1818        1884   500183685

[546901 rows x 3 columns]