In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("tab1.xlsx")

In [3]:
df1

    time(ns)  dTStrans  dTSorient   dTSEtot  dTSsix-dim
0          1 -0.047901  -0.006420 -0.054321   -0.143359
1         10 -0.045988  -0.067792 -0.113780   -0.132685
2         20 -0.045747  -0.075029 -0.120776   -0.131347
3         30 -0.045729  -0.077609 -0.123338   -0.130953
4         40 -0.045622  -0.078911 -0.124533   -0.130704
5         50 -0.045628  -0.079723 -0.125351   -0.130653
6         60 -0.045597  -0.080198 -0.125795   -0.130502
7         70 -0.045578  -0.080525 -0.126103   -0.130437
8         80 -0.045565  -0.080774 -0.126339   -0.130366
9         90 -0.045568  -0.080960 -0.126527   -0.130332
10       100 -0.045574  -0.081072 -0.126646   -0.130300

In [4]:
from matplotlib import pyplot as plt

In [ ]:
plt.plot(df1["time(ns)"], df1["Esw"],marker='o')
plt.plot(df1["time(ns)"], df1["Eww"],marker='o')
plt.plot(df1["time(ns)"], df1["Etot"],marker='o')
plt.xlabel("Time(ns)")
plt.ylabel("E(kcal/mol/water)")
# plt.savefig('./E_conv.jpg')